/*"index" html file*/

/*Default font declaration for entire document*/
* {font-family: Verdana;}


/* Styles for body*/
	html {
		background: url("../images/bats.gif") repeat;
	}
	
	body {
		width: 800px;
		margin: auto;
		background-color: white;
		border-color: black;
		box-shadow: 0em .4em .8em .8em black;		
	}

	
/* Styles for header*/
	header {
		border-bottom: .2em solid black;
		background-image: -webkit-linear-gradient(45deg, white 0%, orange 75%, black 100%);
		background-image: -moz-linear-gradient(45deg, white 0%, orange 75%, black 100%);
		background-image: -o-linear-gradient(45deg, white 0%, orange 75%, black 100%);
		background-image: linear-gradient(45deg, white 0%, orange 75%, black 100%);
		margin: .3em 0em 0em;
		padding: .8em 1em .2em;
	}
	
	img {
		float: left;
		margin-right: 1em;
	}
	
	#HalloweenStore {
		font-size: 220%;
		line-height: .1em;
	}
	
	#LittleGoblin {
		font-size: 120%;
		line-height: .1em
	}
		
		
/* Styles for main */
	main {
		margin: auto;
		padding: 0em 0em 1em;
	}
	
	#Welcome {font-size: 137%;}
	h1::first-letter {font-size: 250%;}
	
	#Products {font-size: 120%;}
	
	a:link {
		color:orange;
		font-weight: bold;
	}
	a:focus, a:hover {color: green;}
	li {line-height: 1.3em;}
	
	#Guarantee {
		font-size: 110%;
		line-height: 0.5em;
	}


/*Styles for nav*/
	nav {
		float: left;
		width: 160px;	
		margin: auto;
		padding: auto;
	}


/*Styles for section*/	
	section {
		margin: 0em 4em 0em 10em;
		padding: auto;
	}
	
	#Cat {
		margin-top: 9.5em;
	}
	
	sup {
		font-size: 50%;
	}
	
	
/*Styles for footer*/
	footer {
		clear: both;
		border-top: .2em solid black;
		background-image: -webkit-linear-gradient(45deg, black 0%, orange 25%, white 100%);
		background-image: -moz-linear-gradient(45deg, black 0%, orange 25%, white 100%);
		background-image: -o-linear-gradient(45deg, black 0%, orange 25%, white 100%);
		background-image: linear-gradient(45deg, black 0%, orange 25%, white 100%);
		margin: 0em .09em 0em;
		padding: .1em 0em .1em;
	}	
	
	.Copyright {
		font-size: 95%;
		text-align: center;
	}
	
	
